<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Root Menu -->
    <menuitem id="menu_hospital_root"
              name="UH-HMS"
              web_icon="uh_hospital,static\description\icon.png"
              sequence="1"/>


    <!-- Front Desk Submenu -->
    <menuitem id="menu_frontDesk"
              name="Front Desk"
              parent="menu_hospital_root"
              sequence="10"/>

    <!-- Patients Submenu -->
    <menuitem id="menu_patients"
              name="Patients"
              parent="menu_frontDesk"
              action="action_hospital_patient"
              sequence="1"/>

    <menuitem id="menu_patients_readonly"
              name="View Patients"
              parent="menu_frontDesk"
              action="action_hospital_readonly_patient"
              sequence="1"/>

    <menuitem id="menu_appointment"
              name="Appointments"
              parent="menu_frontDesk"
              action="action_hospital_appointment"
              sequence="1"/>
    <menuitem id="menu_appointment_line"
              name="Appointment Lines"
              parent="menu_frontDesk"
              action="action_hospital_appointment_line"
              sequence="1"/>

        <!-- Configuration Submenu -->
    <menuitem id="menu_stuff"
              name="Hospital Stuff"
              parent="menu_hospital_root"
              sequence="10"
              groups="uh_hospital.group_hospital_doctor,uh_hospital.group_hospital_admin"/>/>

    <!-- Example: Submenus under Doctor -->

    <menuitem id="menu_hospital_department"
              name="Departments"
              parent="menu_stuff"
              action="action_hospital_department"
              sequence="1"/>

    <menuitem id="menu_hospital_speciality"
              name="Specialties"
              parent="menu_stuff"
              action="action_hospital_speciality"
              sequence="1"/>

    <menuitem id="menu_hospital_doctor"
              name="Doctors"
              parent="menu_stuff"
              action="action_hospital_doctor"
              sequence="1"/>

    <menuitem id="menu_hospital_nurse"
              name="Nurses"
              parent="menu_stuff"
              action="action_hospital_nurse"
              sequence="1"/>




</odoo>
